* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gradient : linear-gradient(to right, #F827DE, #2B14F9);
    --div-gradient : linear-gradient(127.41deg, rgba(218, 37, 226, 0.2) 14.83%, rgba(87, 24, 243, 0.2) 110.24%, rgba(255, 245, 238, 0.2) 110.24%);
    --h1 : exo-extrabold;
    --h2 : exo-semibold;
    --text : exo-thin;
    --grey : #5c4d5d;
    --hover-color: #CC23E4;
}

@font-face {
    font-family: exo-extrabold;
    src: url(../fonts/Exo-ExtraBold.ttf);
}

@font-face {
    font-family: exo-semibold;
    src: url(../fonts/Exo-SemiBold.ttf);
}

@font-face {
    font-family: exo-thin;
    src: url(../fonts/Exo-Thin.ttf);
}

body {
    /* background-image: url(images/body-background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
    background-color: black;
}

.hover:hover {
    background-image: linear-gradient(to right, #2B14F9,  #F827DE);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    font-family: var(--h2);
    font-size: large;
    padding: 30px 0;
}

header li {
    display: inline-block;
    padding: 15px 20px;
}

header li:hover {
    color: linear-gradient(to right, #2B14F9,  #F827DE );
}

.header-div1 {
    width: 10%;
}

.header-div2 {
    width: 70%;
}

.header-div2 a:hover {
    color: var(--hover-color);
  }
  
.header-div2 a {
    position: relative;
  }
  
.header-div2 a:hover::before {
    content: "";
    background: var(--gradient);
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    margin-top: 4px;
  }
  

.header-div3 {
    width: 20%;
    text-align: right;
    padding-top: 15px;
}

header .wallet {
    background-color: inherit;
    padding: 15px 50px;
    margin-top: 5px;
    font-family: var(--h2);
    font-size: 20px;
    border: 1px white solid;
    border-radius: 5px;
}

header .wallet:hover {
    background-image: var(--gradient);
    border: none;
}

video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: 130%;
}

.sec-1 {
    font-family: var(--h2);
    font-size: 25px;
}

.sec-1 p {
    width: 100%;
    padding-left : 15px;
    font-family: var(--text);
}

.sec1-div1 { 
    width: 100%;
}

.sec-1 h2 {
    padding: 15px;
}

.inside1 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.popular {
    width: 30%;
}

.inside1 button {
    background-image: var(--gradient);
    color: white;
    border: none;
    margin: 10px 15px;
    padding: 8px 20px;
    border-radius: 30px;
}

.inside2 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.inside3 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.inside4 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.inside5 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.inside6 {
    background-image: var(--div-gradient);
    margin-bottom: 40px;
    padding: 35px 5px;
    border-radius: 10px;
    width: 30%;
}

.inside1:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}

.inside2:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}

.inside3:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}

.inside4:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}

.inside5:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}

.inside6:hover {
    box-shadow: 1px 0 8px 0 var(--hover-color);
}


.image {
    padding-left: 15px;
}

.heading {
    padding-top: 10px;
}

.hover1:hover {
    background-image: var(--div-gradient) ;
    cursor: pointer;
}

footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--text);
    padding: 35px 0;
}

footer li {
    display: inline-block;
    padding: 25px 40px;
}

footer a {
    display: inline-block;
}

.footer-div1 {
    width: 10%;
    padding-top: 8px;
} 

.footer-div2 {
    width: 60%;
    text-align: right;
}

.footer-div3 {
    width: 30%;
    text-align: right;
    padding-top: 6px;
}